@charset "UTF-8";
.container { margin: 0 auto; width: 1180px; background-color: #fff;}

.h_container { background: #F3F3F3; }

#header .wrap { height: 38px; margin: 0 auto; width: 1180px; overflow: hidden; }

#header .wrap .left { float: left; width: 550px; height: 38px; line-height: 38px; overflow: hidden; }

#header .wrap .right { float: right; width: 630px; height: 38px; line-height: 38px; text-align: right; overflow: hidden; }

#header .wrap .right a { margin-left: 10px; margin-right: 10px; }

#header .wrap .right .user { padding-left: 20px; background: url(../css/images/icon.png) no-repeat 0 -20px; }

#header .wrap .right .cart .number { font-weight: bold; color: #DB3962; }

#header .wrap .right .certify { padding-left: 17px; background: url(../css/images/icon.png) no-repeat 0 -39px; }

#header .wrap .right .yuyue { padding-left: 17px; background: url(../css/images/icon.png) no-repeat 0 -39px; }

#header .wrap .right .mobile { padding-left: 22px; background: url(../css/images/icon.png) no-repeat 0 -64px; }

#header .wrap .right .weixin { padding-left: 25px; background: url(../css/images/icon.png) no-repeat 0 -96px; }

#header .wrap .right .weibo { margin-right: 2px; padding-left: 26px; background: url(../css/images/icon.png) no-repeat 0 -129px; }

#header .header{background-color: #fff;}

#header .header .h_wrap { padding: 5px 0; height: 90px; margin: 0 auto; width: 1180px; overflow: hidden;background-color: #fff; }

#header .header .h_wrap .logo { float: left; width: 200px; height: 90px; }

#header .header .h_wrap .code { float: right; width: 240px; height: 90px; }

#header .header .h_wrap .main { float: right; width: 550px; height: 90px; }

#header .header .h_wrap .main .search { float: left; margin-top: 18px; margin-left: 150px; width: 260px; height: 30px; border: 1px solid #6D6C6C; }

#header .header .h_wrap .main .search .input { float: left; padding: 0px; width: 199px; height: 30px; border: none; text-align: center; overflow: hidden; }

#header .header .h_wrap .main .search .input input { width: 194px; height: 30px; line-height: 26px; color: #7D7D7D; border: none; }

#header .header .h_wrap .main .search .submit { float: right; width: 60px; height: 30px; line-height: 28px; font-size: 14px; color: #FFFFFF; text-align: center; border-left: 1px solid #6D6C6C; background: #6D6C6C; cursor: pointer; }

#header .header .h_wrap .main .hotkey { clear: both; float: left; margin-top: 10px; margin-left: 150px; width: 228px; height: 30px; }

#header .header .h_wrap .main .hotkey a { margin-right: 6px; color: #7D7D7D; }

#header .menuer{background-color: #fff;}

#header .menuer .container { max-width: 1180px; height: 38px; padding: 0; }

#header .menuer .container .menu { float: left; width: 200px; height: 38px; }

#header .menuer .container .menu ul.topmenu:hover ul.submenu { display: block; }

#header .menuer .container .menu ul.topmenu { float: left; width: 200px; }

#header .menuer .container .menu ul.topmenu li { float: left; padding: 0 0 0 17px; position: relative; width: 183px; height: 38px; line-height: 38px; font-size: 14px; font-weight: bold; color: #FFFFFF; background: #C11E20 url(../css/images/menu_icon.png) no-repeat 160px 0; cursor: pointer; z-index: 999; }

#header .menuer .container .menu ul.topmenu li ul.submenu { float: left; display: none; list-style: none; width: 200px; position: absolute; top: 38px; left: 0; background: #312D2D; }

#header .menuer .container .menu ul.topmenu li ul.submenu li { clear: both; padding: 8px 5px 1px 5px; width: 190px; line-height: 25px; font-size: 12px; font-weight: normal; background: #312D2D; }

#header .menuer .container .menu ul.topmenu li ul.submenu li a { margin-left: 12px; color: #FFFFFF; float: left; width: 50px; }

#header .menuer .container .menu ul.topmenu li ul.submenu a.bold { margin-left: 12px; font-weight: bold; float: left; width: 36px; }

#header .menuer .container .menu ul.topmenu li ul.submenu a.nbsp { margin-left: 60px; }

#header .menuer .container .menu ul.topmenu li ul.submenu a.hots { margin-left: 12px; color: #FFFFFF; float: left; }

#header .menuer .container .menu ul.topmenu li ul.submenu a.join { width: 100px; font-weight: bold; margin-left: 8px; color: #FFFFFF; float: left; }

#header .menuer .container .menu ul.topmenu li ul.submenu li.first { height: 81px; background: #383333; }

#header .menuer .container .menu ul.topmenu li ul.submenu li.second { height: 81px; background: #312D2D; }

#header .menuer .container .menu ul.topmenu li ul.submenu li.third { height: 57px; background: #383333; }

#header .menuer .container .menu ul.topmenu li ul.submenu li.fourth { height: 51px; background: #312D2D; }

#header .menuer .container .menu ul.topmenu li ul.submenu li.fifth { height: 32px; background: #383333; }

#header .menuer .container .menu ul.topmenu li ul.submenu li.last { height: 32px; background: #312D2D; }

#header .menuer .container .home { float: left; padding: 0 25px 0 50px; height: 38px; line-height: 38px; font-size: 14px; font-weight: bold; }

#header .menuer .container .item { float: left; padding: 0 20px; height: 38px; line-height: 38px; font-size: 14px; font-weight: bold; }

#header .menuer .container .phone { float: right; width: 240px; height: 38px; }

.homeline1 { clear: both; margin: 0 auto; padding-top: 18px; width: 1180px; height: 210px; background: #FFFFFF; overflow: hidden; }

.homeline1 div { float: left; padding: 4px; line-height: 22px; text-align: center; border: 1px solid #DDDDDD; overflow: hidden; height: 200px; }

.homeline1 .left { width: 310px; }

.homeline1 .center { margin-right: 15px; width: 500px; }

.homeline1 .right { margin-left: 15px; width: 310px; }

.homeline { clear: both; margin: 0 auto; width: 1180px; height: 18px; background: url(images/line.jpg); }

.homeline2 { clear: both; margin: 0 auto; width: 1180px; height: 159px; overflow: hidden; border: 1px solid #dddddd; }

.homeline2 .leftdiamondimg { width: 616px; height: 159px; float: left; background-color: #f9f9f9; }

.homeline2 .rightsearchbtn { width: 562px; height: 159px; float: left; background: url(images/bg1.png); }

.homeline2 .rightsearchbtn .inputvalue { margin-top: 20px; float: left; width: 215px; height: 33px; }

.homeline2 .rightsearchbtn .inputvalue .inputcss { float: left; width: 50px; height: 33px; margin-left: 70px; margin-top: 5px; }

.homeline2 .rightsearchbtn .inputvalue .searchinputcss { width: 40px; height: 15px; }

.homeline2 .rightsearchbtn .inputvalue .inputline { float: left; width: 20px; height: 33px; line-height: 30px; }

.homeline2 .rightsearchbtn .inputvalue .rightinputcss { float: left; width: 50px; height: 33px; margin-top: 5px; }

.homeline2 .rightsearchbtn .inputvalue .inputtxt { height: 33px; line-height: 30px; }

.homeline2 .rightsearchbtn .selectitem { float: left; height: 33px; margin-left: 70px; margin-top: 13px; }

.homeline2 .rightsearchbtn .selectitem .imgs { cursor: pointer; float: left; padding: 0 3px; height: 24px; }

.homeline2 .rightsearchbtn .selectitembtn { float: left; margin-left: 370px; margin-top: 5px; height: 33px; }

.homeimgs { float: left; width: 320px; height: 180px; }

.hometype { float: left; padding: 12px 0 5px 0; width: 200px; height: 120px; }

.hometype div { float: left; width: 200px; height: 24px; line-height: 24px; text-indent: 30px; }

.homeprice { float: left; width: 200px; height: 100px; }

.homeprice div { float: left; width: 200px; height: 24px; line-height: 24px; text-indent: 30px; }

.homeline3 { clear: both; margin: 0 auto; width: 1180px; height: 429px; overflow: hidden; }

.homeline3 div { float: left; overflow: hidden; }

.homeline3 .left { width: 321px; height: 429px; background: url(images/1.jpg); }

.homeline3 .center { width: 259px; height: 429px; }

.homeline3 .right { width: 600px; height: 429px; }

.homeline3 .righttop { width: 600px; height: 211px; }

.homeline3 .righttopleft { width: 299px; height: 211px; }

.homeline3 .righttopright { width: 301px; height: 211px; }

.homeline3 .rightbottom { width: 600px; height: 218px; }

.homeline3 .rightbottomleft { width: 200px; height: 218px; }

.homeline3 .rightbottomcenter { width: 195px; height: 218px; }

.homeline3 .rightbottomright { width: 205px; height: 218px; }

.homeline4 { clear: both; margin: 0 auto; width: 1180px; height: 116px; overflow: hidden; }

.homeline4 div { float: left; }

.homeline5 { clear: both; margin: 0 auto; width: 1180px; height: 429px; overflow: hidden; }

.homeline5 div { float: left; overflow: hidden; }

.homeline5 .left { width: 320px; height: 429px; background: url(images/51.jpg); }

.homeline5 .center { width: 598px; height: 429px; }

.homeline5 .centertop { width: 598px; height: 211px; }

.homeline5 .centertopleft { width: 301px; height: 211px; }

.homeline5 .centertopright { width: 297px; height: 211px; }

.homeline5 .centerbottom { width: 598px; height: 218px; }

.homeline5 .centerbottomleft { width: 202px; height: 218px; }

.homeline5 .centerbottomcenter { width: 195px; height: 218px; }

.homeline5 .centerbottomright { width: 201px; height: 218px; }

.homeline5 .right { width: 262px; height: 429px; }

.homeline6 { clear: both; margin: 0 auto; width: 1180px; height: 429px; overflow: hidden; }

.homeline6 div { float: left; overflow: hidden; }

.homeline6 .left { width: 321px; height: 429px; background: url(images/61.jpg); }

.homeline6 .center { width: 259px; height: 429px; }

.homeline6 .right { width: 600px; height: 429px; }

.homeline6 .righttop { width: 600px; height: 211px; }

.homeline6 .righttopleft { width: 301px; height: 211px; }

.homeline6 .righttopright { width: 299px; height: 211px; }

.homeline6 .rightbottom { width: 600px; height: 218px; }

.homeline6 .rightbottomleft { width: 200px; height: 218px; }

.homeline6 .rightbottomcenter { width: 197px; height: 218px; }

.homeline6 .rightbottomright { width: 203px; height: 218px; }

.homeline7 { clear: both; margin: 0 auto; width: 1180px; height: 116px; overflow: hidden; }

.homeline8 { clear: both; margin: 0 auto; width: 1180px; height: 429px; overflow: hidden; }

.homeline8 div { float: left; overflow: hidden; }

.homeline8 .left { width: 320px; height: 429px; background: url(images/81.jpg); }

.homeline8 .center { width: 598px; height: 429px; }

.homeline8 .right { width: 262px; height: 429px; }

.homeline8 .centertop { width: 598px; height: 211px; }

.homeline8 .centertopleft { width: 300px; height: 211px; }

.homeline8 .centertopright { width: 298px; height: 211px; }

.homeline8 .centerbottom { width: 598px; height: 218px; }

.homeline8 .centerbottomleft { width: 200px; height: 218px; }

.homeline8 .centerbottomcenter { width: 196px; height: 218px; }

.homeline8 .centerbottomright { width: 202px; height: 218px; }

.homeline10 { clear: both; margin: 0 auto; width: 1180px; height: 429px; overflow: hidden; }

.homeline10 div { float: left; overflow: hidden; }

.homeline10 .left { width: 320px; height: 429px; background: url(images/101.jpg); }

.homeline10 .center { width: 598px; height: 429px; }

.homeline10 .right { width: 262px; height: 429px; }

.homeline10 .centertop { width: 598px; height: 211px; }

.homeline10 .centertopleft { width: 300px; height: 211px; }

.homeline10 .centertopright { width: 298px; height: 211px; }

.homeline10 .centerbottom { width: 598px; height: 218px; }

.homeline10 .centerbottomleft { width: 201px; height: 218px; }

.homeline10 .centerbottomcenter { width: 196px; height: 218px; }

.homeline10 .centerbottomright { width: 201px; height: 218px; }

.homeline9 { clear: both; margin: 0 auto; width: 1180px; height: 290px; overflow: hidden; }

.homeline9 .linewrap { float: left; margin-right: 10px; width: 320px; height: 288px; border: 1px solid #E3E3E3; }

.homeline9 .linewrap .wraphead { float: left; width: 320px; height: 33px; line-height: 33px; text-indent: 15px; font-weight: bold; background: url(images/headbg.jpg); }

.homeline9 .linewrap .wrapmain { float: left; padding: 5px; width: 310px; height: 245px; }

.homeline9 .linewrap .wrapmain .mainimg { float: left; width: 310px; height: 95px; }

.homeline9 .linewrap .wrapmain .maintext { float: left; margin-top: 10px; width: 310px; height: 135px; }

.homeline9 .lineads { float: left; width: 184px; height: 290px; }

.footer { clear: both; width: 100%; /*咨询入口*/ }

.footer .cityshop { margin: 0 auto; padding-top: 20px; width: 1180px; height: 260px; background: #FFFFFF; }

.footer .cityshop .line { float: left; width: 1180px; height: 35px; overflow: hidden; background: url(images/line.gif); }

.footer .cityshop .line .text { float: left; padding-left: 15px; width: 385px; height: 35px; line-height: 35px; font-size: 18px; font-weight: bold; }

.footer .cityshop .line .list { float: left; }

.footer .cityshop .line .name { float: left; width: 65px; height: 35px; line-height: 35px; font-weight: bold; cursor: pointer; text-align: center; }

.footer .cityshop .city { float: left; width: 679px; height: 225px; overflow: hidden; text-align: center; line-height: 32px; font-size: 14px; background: url(images/map.png) no-repeat; border-left: 1px solid #6B6B6B; }

.footer .cityshop .city .local { padding: 35px 0 25px 0; font-size: 20px; font-weight: bold; }

.footer .cityshop .shop { float: left; width: 500px; height: 225px; overflow: hidden; }

.footer .cityshow { display: block; }

.footer .cityhide { display: none; }

.footer .cityline { clear: both; margin: 0 auto; width: 1180px; height: 30px; background: url(images/linebg.jpg); }
.security { margin: 0 auto; width: 100%; height: 85px; background: #FFFFFF url(images/security.jpg) center center no-repeat; }
.shouhou { margin: 0 auto; padding: 15px 0; width: 100%; height: 130px; border-top: 1px solid #CCCCCC; background: #E9E9E9; }
.shouhou .wrap { margin: 0 auto; width: 1178px; height: 130px; border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; background: url(images/shouhou.png) no-repeat; }
.shouhou .wrap ul { margin: 0; padding: 0; }
.shouhou .wrap ul li { margin: 0; padding: 0; float: left; width: 195px; height: 130px; border-right: 1px solid #CCCCCC; list-style: none; }
.shouhou .wrap ul li div { float: left; padding-left: 50px; padding-top: 15px; }
.shouhou .wrap ul li div span { float: left; width: 145px; font-weight: bold; line-height: 30px; }
.shouhou .wrap ul li div a { float: left; width: 145px; line-height: 24px; color: #555555; }
.shouhou .wrap ul li div a:hover { color: #CC0000; }
.shouhou .wrap ul li.noline { border: none; }
.contact { margin: 0 auto; padding: 15px 0; width: 100%; height: 66px; background: #333333; }
.contact .wrap { margin: 0 auto; padding: 0 5px; width: 1170px; height: 80px; color: #B9B9B9; }
.contact .wrap .left { float: left; width: 1000px; }
.contact .wrap .left .address { width: 1000px; height: 35px; line-height: 35px; }
.contact .wrap .left .copyright { width: 1000px; height: 30px; line-height: 30px; }
.contact .wrap .right { float: left; width: 170px; text-align: right; }
.contact .wrap .right .hotline { width: 170px; height: 35px; line-height: 35px; }
.contact .wrap .right .phonenumber { width: 170px; height: 30px; line-height: 25px; font-size: 20px; font-weight: bold; font-family: "黑体"; }
.contact .wrap .right .phonenumber span { color: #FFFF00; }
.footicon { margin: 0 auto; padding: 15px 0; width: 100%; height: 53px; background: #FFFFFF; }
.footicon .wrap { margin: 0 auto; width: 1180px; height: 53px; background: url(images/footicon.gif); overflow: hidden; }
.footicon .wrap a { margin-right: 23px; float: left; width: 123px; height: 53px; }
.footicon .wrap a.last { margin-right: 0; }
.friendlink { margin: 0 auto; padding: 15px 0; width: 100%; height: 105px; border-top: 1px solid #CCCCCC; color: #999999; background: #F0F0F0; }
.friendlink a { color: #888888; }
.friendlink a:hover { color: #CC0000; }
.friendlink .wrap { margin: 0 auto; padding: 0 5px; width: 1170px; height: 80px; line-height: 25px; }
.friendlink .wrap .left { float: left; width: 70px; font-weight: bold; }
.friendlink .wrap .right { float: left; width: 1100px; }
.friendlink .wrap .right a { margin-right: 8px; white-space: nowrap; }
.friendlink .link { margin: 0 auto; padding: 0 5px; width: 1170px; height: 25px; line-height: 25px; text-align: right; }
.diamondlink { margin: 0 auto; padding: 15px 0; width: 100%; height: 75px; border-top: 1px solid #CCCCCC; color: #999999; background: #F0F0F0; }
.diamondlink a { color: #888888; }
.diamondlink a:hover { color: #CC0000; }
.diamondlink .wrap { margin: 0 auto; padding: 0 5px; width: 1170px; height: 50px; line-height: 25px; }
.diamondlink .wrap .left { float: left; width: 70px; font-weight: bold; }
.diamondlink .wrap .right { float: left; width: 1100px; }
.diamondlink .wrap .right a { margin-right: 8px; white-space: nowrap; }
.diamondlink .link { margin: 0 auto; padding: 0 5px; width: 1170px; height: 25px; line-height: 25px; text-align: right; }
.baikelink { margin: 0 auto; padding: 15px 0; width: 100%; height: 75px; border-top: 1px solid #CCCCCC; color: #999999; background: #F0F0F0; }
.baikelink a { color: #888888; }
.baikelink a:hover { color: #CC0000; }
.baikelink .wrap { margin: 0 auto; padding: 0 5px; width: 1170px; height: 50px; line-height: 25px; }
.baikelink .wrap .left { float: left; width: 70px; font-weight: bold; }
.baikelink .wrap .right { float: left; width: 1100px; }
.baikelink .wrap .right a { margin-right: 8px; white-space: nowrap; }
.baikelink .link { margin: 0 auto; padding: 0 5px; width: 1170px; height: 25px; line-height: 25px; text-align: right; }
.Zxs li { list-style: none; }
.Zxs a { text-decoration: none; }
.Zxs img { border: 0; }
.Zxs { width: 64px; /*overflow:hidden;*/ position: fixed; right: 5px; bottom: 100px; z-index: 30; }
.Zxs li { width: 64px; height: 64px; background: #c11e20; margin-top: 2px; position: relative; }
.Zxs li .Eyj { position: absolute; left: -154px; top: -40px; display: none; border: 1px solid transparent; }
.Zxs li:hover { background: #D0383A; }
.Zxs li .Dbs { width: 100%; height: 40px; overflow: hidden; }
.Zxs li .Dbs img { display: block; margin: 10px auto; }
.Zxs li .Fnts { width: 100%; height: 24px; line-height: 24px; text-align: center; font-family: 宋体; font-size: 12px; color: #fff; font-weight: 400; }
.cityer { margin: 0; padding: 0 3px; }
.cityer ul { margin: 0; padding: 0; }
.cityer ul li { margin: 0; padding: 10px; list-style: none; line-height: 20px; }
.cityer ul li span { clear: both; color: #000000; line-height: 20px; font-size: 16px; font-weight: bold; width: 50px; }
.cityer ul li a { margin: 0 22px 0 0; color: #333333; }
.cityer ul li a:hover { color: #B20000; }

.ZebraDialog *,
.ZebraDialog *:after,
.ZebraDialog *:before { -moz-box-sizing: content-box !important; -webkit-box-sizing: content-box !important; box-sizing: content-box !important; }

.ZebraDialog { width: 400px; z-index: 1001;display:none; }

.ZebraDialog,
.ZebraDialog .ZebraDialog_Title,
.ZebraDialog .ZebraDialog_Body,
.ZebraDialog .ZebraDialog_Buttons a { margin: 0; padding: 0; font-family: "microsoft yahei"; text-align: left; }

.ZebraDialog .ZebraDialog_Title { border-color: #FFD9D9; border-width: 1px; }
.ZebraDialog .ZebraDialog_BodyOuter { border-color: #D7D2D1; border-width: 1px; }
.ZebraDialog .ZebraDialog_ButtonsOuter { border-color: #D7D2D1; border-width: 1px; }

.ZebraDialog .ZebraDialog_Title { font-size: 14px; font-weight: bold; color: #100D0D; background: #FFD9D9; padding: 10px 12px; line-height: 1; vertical-align: middle; border-bottom: 3px solid #A30101; }

.ZebraDialog .ZebraDialog_BodyOuter { background: #F7F7F7; }

.ZebraDialog .ZebraDialog_Body { color: #44484A; padding: 0px; }

.ZebraDialog .ZebraDialog_ButtonsOuter { background: #F7F7F7; padding: 2px 2px 62px 12px; }

.ZebraDialog .ZebraDialog_Buttons:before,
.ZebraDialog .ZebraDialog_Buttons:after { content: "\0020"; display: block; height: 0; visibility: hidden; font-size: 0; }
.ZebraDialog .ZebraDialog_Buttons:after { clear: both; }
.ZebraDialog .ZebraDialog_Buttons { *zoom: 1; }
/* for IE only */

.ZebraDialog .ZebraDialog_Buttons a { font-size: 14px; font-weight: bold; color: #FFF; text-shadow: 1px 0px 2px #222; padding: 5px 15px; }

.ZebraDialog .ZebraDialog_Buttons a:hover { background: #AB0101; color: #FFF; }

.ZebraDialog a.ZebraDialog_Close { position: absolute; right: 6px; top: 0px; text-decoration: none; font-family: arial, sans-serif; font-weight: bold; font-size: 24px; color: #666; }

.ZebraDialog a.ZebraDialog_Close:hover { }

.ZebraDialog .ZebraDialog_Title a.ZebraDialog_Close { padding-top: 2px; color: #A52425; }

.ZebraDialog .ZebraDialog_Title a.ZebraDialog_Close:hover { color: #A52425; }

.ZebraDialogOverlay { background: #666; z-index: 1000; width: 100%; height: 100%;display:none; }